@import "tailwindcss";


/* * {
    outline: 1px solid red;
} */

/* * {
    font-family: 'Inter', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
} */

body {
    background-color: var(--color-gray-200)
}